{
  "presets": [
    "react-native"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "trace",
      {
        "env": {
          "production": {
            "strip": true
          }
        }
      }
    ]
  ]
}